.item-nav {
    transition: all 0.3 ease;  
}

.item-nav:hover {
    transform: scale(1.05);
    color: #00d9ff;
}

.custom-card-bg {
   background: #c4e9ff;
   background: linear-gradient(110deg,rgba(196, 233, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}